body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato",sans-serif;
  font-weigth:400;
  line-height:1.8em;
  color:#666;
}

.navbar {
  width: 100%;
  opacity: 0.8;
  background-color: rgb(31,31,31);

}

.navbar li {
  display: block;
  vertical-align: middle;
  margin: 5px;
  float: right;
}

.navbar a {
  text-align: left;
  display: block;
  padding: 14px 16px;
  color: #d3d3d3;
  text-decoration: none;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 1s ease-in-out;
          transition:         transform 1s ease-in-out;
}

li a:hover {
  color: #A926CF;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
#contact{
  background-color: rgb(31,31,31);
}
#contact-text{
  color: white ;
}
/*#contact {
  justify-content: center;
  flex-flow:row wrap;
}*/

/*.nav-item{
  font-size: 1.4rem;
  padding-right: 20px;
}*/

/*.navbar .current {
  background-color: red;
}*/

/*#nav-logo{
 padding-top: 4px;
 padding-bottom: 5px;
 padding-left: 20px;
}*/

/*#navbar {
  background-color: rgba(3,3,3,0.7);
  top:0;
  width: 100%;
  position: absolute;
}

#navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  padding: 15px 22px;
  text-decoration: none;
  font-size: 20px;
}

#navbar a:hover {
  color: rgb(67,74,82);
}*/

.pimg1, .pimg2, .pimg3, .pimg4 {
  position:relative;
  opacity:0.70;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.pimg1{
  background-image:url('../img/homepage.png');
  min-height:100%;
}

.pimg2{
  background-image:url('../img/about.jpeg');
  min-height:300px;
}

.pimg3{
  background-image:url('../img/project.png');
  min-height:300px;
}

.pimg4{
  background-image:url('../img/contact.jpeg');
  min-height:500px;
}

.content{
  text-align:center;
  padding:50px 80px;
  background-color:#282e34;
  color:#ddd;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext .bor{
  background-color:#111;
  color:#fff;
  padding:20px;
}

/*.ptext .border .trans{
  background-color:transparent;
}*/


.project{
  color: red;
  font-weight: bold;
  text-decoration: none;
  font-size:20px;
}


footer {
  color: rgb(146,146,146);
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  padding-bottom: 65px;
  padding-top: 65px;
  margin-top: 30px;
  background-color: rgb(31,31,31);
}

footer p {
  display: inline;
  width: 12%;
  padding: 20px;
}

footer a {
  display: inline;
  width: 12%;
  padding: 20px;
  color: rgb(146,146,146);
  text-decoration: none;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3, .pimg4 {
    background-atachment:scroll;
  }
}

@media screen and (max-width: 500px) {
  .content p {
    font-size: 1.2em;
  }
}

/*@media screen and (max-width: 500px) {
  .navbar a  {
    font-size: 13px;
  }
}*/